// Navbar
.nav {
	text-align: center;
	.nav__btn {
		background: transparent;
		margin: 0 12px;
		border: 0;
		cursor: pointer;
		p {
			margin-top: -12px;
			color: #FFF;
			font-size: 24px;
		}
	}
}

// SubNavbar
.subnav {
	position: absolute;
	top: -240px;
	left: -240px;
	border-radius: 50%;
	width: 240px;
	height: 240px;
	@include transition(all .3s ease .3s);
	@include transform(rotate(135deg));
	z-index: 1;
	&:before {
		content: "";
		position: absolute;
		top: 24px; right: 90px;
		width: 60px;
		height: 60px;
		background-image: url('../svg/menu.svg');
		background-size: cover;
	}
	&.open {
		top: -120px;
		left: -120px;
	}
	&:hover {
		@include transform(rotate(-45deg));
		@include transition(all .3s ease);
		.subnav-menu {
			visibility: hidden;
			opacity: 0;
			z-index: -1;
		}
	}
	.subnav__button {
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-left: -60px;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		z-index: 2;
		@include transition(all .3s ease);
		.icon {
			margin: auto;
			width: 70px;
			height: 70px;
			@include transition(all .3s ease .3s);
		}
		span {
			position: absolute;
			display: block;
			top: 84px;
			left: 0;
			width: 100%;
			color: #FFF;
			font-size: 16px;
			@include transition(all .3s ease .3s);
		}
		&.subnav-close {
			opacity: 0;
			z-index: 4;
			.icon { background-image: url('../svg/cross.svg')}
		}
		&.subnav-illus {
			.icon { background-image: url('../svg/illustration.svg')}
		}
		&.subnav-photos {
			.icon { background-image: url('../svg/photos.svg')}
		}
		&.subnav-web {
			.icon { background-image: url('../svg/web.svg')}
		}
		&.subnav-about {
			.icon { background-image: url('../svg/me.svg')}
		}
		&.active {
			z-index: 3;
		}
	}
	&.active {
		@include transform(rotate(-45deg));
		@include transition(all .3s ease);
		.subnav__button {
			margin-left: -35px;
			bottom: 12px;
			width: 70px;
			height: 70px;
			@include transform(rotate(45deg));
			@include transition(all .3s ease);
			.icon {
				width: 50px;
				height: 50px;
				@include transition(all .3s ease);
			}
			span {
				visibility: hidden;
				opacity: 0;
				@include transition(all 0s ease);
			}
			&.subnav-close {
				opacity: 1;
			}
			&:nth-child(2) {left: 240px; bottom: -80px}
			&:nth-child(3) {left: 160px; bottom: -120px}
			&:nth-child(4) {left: 75px; bottom: -120px}
			&:nth-child(5) {left: 0px; bottom: -80px}
		}
	}
}

// Modal
.modal {
	#aboutSite {
		max-width: 750px;
	}
}

// illustration
@keyframes illusItem {
	from {
		left: -20px;
		opacity: 0;
	}
	to {
		left: 0px;
		opacity: 1;
		visibility: visible;
	}
}
#illus {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	.illus__content {
		display: none;
		&.active {
			display: block;
		}
		.illus__content--item {
			visibility: hidden;
			position: relative;
			animation: illusItem .3s ease forwards;
			.item__img {
				height: 200px;
			}
		}
	}
}
#photos {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	.photos__content {
		display: none;
		&.active {
			display: block;
		}
		.photos__content--item {
			visibility: hidden;
			position: relative;
			animation: illusItem .3s ease forwards;
			.photos__content--item__wrap {
				padding: 6px;
				background: #FFF;
				box-sizing: border-box;
				@include box-shadow(0px 0px 4px hsla(0,0%,0%,.4));
			}
			.item__img {
				height: 220px;
				i.img-mask {
					border: 0;
				}
			}
		}
	}
}
#about {
	.about__content {
		.board {
			position: fixed;
			left: 50%;
			bottom: 0;
			margin-left: -300px;
			width: 650px;
			height: 650px;
			.board--content {
				position: absolute;
				top: 30px;
				left: 140px;
				width: 380px;
				height: 300px;
				p {
					font-family: Microsoft JhengHei, arial, helvetica, san-serif;
					line-height: 1.5em;
					font-size: 14px;
				}
			}
			.board--btn {
				position: absolute;
				bottom: 50px;
				left: 250px;
				width: 160px;
				height: 200px;
				z-index: 1;
				button {
					display: block;
					margin: auto;
					font-size: 34px;
					text-align: center;
					color: hsl(0,0%,35%);
					&:hover {
						color: #FFF;
					}
				}
			}
			.board--mask {
				position: absolute;
				top:0; left:0;
				width: 100%;
				height: 100%;
  				-webkit-clip-path: polygon(22% 54.5%, 24% 53.5%, 80.5% 53.5%, 78% 60%, 78.5% 63%, 69.5% 58%, 68% 58%, 69.5% 89%, 69.5% 89%, 70% 96%, 31% 96%, 33% 79%, 33.5% 58%, 27.5% 63.5%);
  				clip-path: 		   polygon(22% 54.5%, 24% 53.5%, 80.5% 53.5%, 78% 60%, 78.5% 63%, 69.5% 58%, 68% 58%, 69.5% 89%, 69.5% 89%, 70% 96%, 31% 96%, 33% 79%, 33.5% 58%, 27.5% 63.5%);
  				overflow: hidden;
  				div {
  					visibility: hidden;
  					opacity: 0;
					-webkit-transform: translate3d(0px, 0px, 0px);
  					@include transition(all .3s ease);
  					&.active {
  						visibility: visible;
  						opacity: 1;
  					}
  				}
				#who {
					position: absolute;
					top:0; left:0;
					width: 100%;
					height: 100%;
					background-image: linear-gradient($green 70%, transparent 30%);
					background-size: 100% 14px;
					background-repeat: repeat-y;
				}
				#skills {
					position: absolute;
					top:0; left:0;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(90deg, transparent 0%, transparent 10%,
						                                     rgba($blue,.6) 10%, rgba($blue,.6) 20%,
						                                     transparent 20%, transparent 30%,
						                                     rgba($blue,.6) 30%, rgba($blue,.6) 70%,
						                                     transparent 70%, transparent 80%,
						                                     rgba($blue,.6) 80%, rgba($blue,.6) 90%,
						                                     transparent 90%, transparent 100%),
					                  linear-gradient(0deg,  transparent 0%, transparent 10%,
						                                     rgba($blue,.6) 10%, rgba($blue,.6) 20%,
						                                     transparent 20%, transparent 30%,
						                                     rgba($blue,.6) 30%, rgba($blue,.6) 70%,
						                                     transparent 70%, transparent 80%,
						                                     rgba($blue,.6) 80%, rgba($blue,.6) 90%,
						                                     transparent 90%, transparent 100%);
					background-size: 20px 20px;
					background-size: 50px 50px;
					background-repeat: repeat;
				}
				#contact {
					position: absolute;
					top:0; left:0;
					width: 100%;
					height: 100%;
					background-image: radial-gradient( white 15%, transparent 16% ),
						              radial-gradient( white 15%, transparent 16% ),
						              linear-gradient( $orange 0, $orange );
					background-size: 60px 60px;
					background-position: 0 0, 30px 30px, 0 0;
				}
			}
			.board--bg {
				position: absolute;
				top: 0; left:0;
				width: 100%;
				height: 100%;
				background-image: url('../svg/board.svg');
				background-size: 100% 100%;
				z-index: 0;
			}
		}
	}
}