@import 'compass/reset';
@import 'compass/css3';
// @import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';

$orange: #D9753E;
$green:  #98BF79;
$blue:   #6699CC;
// Common
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	font-family: 'Baloo Tamma', cursive;
	font-weight: 400;
}
a {
	color: inherit;
	text-decoration: none;
	&:hover, &:focus {
		outline: none;
	}
}
button {
	background: transparent;
	border: 0;
	font-family: 'Baloo Tamma', cursive;
	font-weight: 400;
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

// Module
@import '_module';

// Heading
@import '_heading';

// Wrap
.wrapper {
	position: absolute;
	top:0; left:0;
	width:100%; height:100%;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	    	align-items: center;
	-webkit-justify-content: center;
	    	justify-content: center;
}

// Parallax
@import '_parallax';

.home {
	svg {
		width: 60px;
		height: 60px;
		polyline {
			fill: none;
			stroke: hsl(0,0%,40%);
			stroke-width: 9px;
			stroke-linecap: round;
			stroke-linejoin: round;
		}
	}
}

// Main
.main {
	position: absolute;
	top: 100%;
	right: 100%;
	width: 100%;
	height: 100%;
	background: url('../img/bg.jpg');
	overflow: hidden;
	z-index: 2;
	@include box-shadow(0px 0px 12px hsla(0,0%,0%,.5));
	@include transform(rotate(90deg));
	@include transform-origin(0%, 0%);
	@include transition(all 1s ease);
	&.open {
		top: 0;
		right: 0;
		@include transform(rotate(0deg));
	}
	.main__back {
		position: absolute;
		right: 12px;
		top: 12px;
	}
	.main__section {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		z-index: -1;
		&.active {
			visibility: visible;
			opacity: 1;
			@include transition(opacity .3s ease);
		}
	}
}

// Partial
@import '_partial';

// RWD
@import '_rwd';


// style control
#styleControl {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	bottom: 24px;
	right: 12px;
	z-index: 1;
	@include transition(all .3s ease);
	button {
		display: none;
		opacity: .5;
		margin: 0px 4px;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		@include transform(scale(0,0));
		&:hover {
			opacity: 1;
		}
		&.green {
			border: 1px solid darken($green, 20%);
			background: $green;
			animation: buttonBounce .3s ease forwards;
		}
		&.blue {
			border: 1px solid darken($blue, 15%);
			background: $blue;
			animation: buttonBounce .3s ease .2s forwards;
		}
		&.orange {
			border: 1px solid darken($orange, 20%);
			background: $orange;
			animation: buttonBounce .3s ease.4s forwards;
		}
	}
}
body.load-done .heading.finish + #styleControl {
	visibility: visible;
	opacity: 1;
	button {
		display: inline-block;
	}
}
body#green {
	.parallax .green {
		visibility: visible;
		opacity: 1;
		z-index: 0;
	}
	.subnav {
		background: $green;
		.subnav__button {
			background: $green;
		}
	}
	.section {
		.section__title {
			h1 { color: $green}
			hr { background: $green}
		}
	}
	.home:hover {
		svg polyline {
			stroke: $green;
		}
	}
	.close:hover {
		&:before, &:after {
			background: $green;
		}
	}
	.clothe {
		#who {
			background-image: linear-gradient($green 70%, transparent 30%);
		}
		#skills {
			background-image: linear-gradient(90deg, transparent 0%, transparent 10%,
				                                     rgba($green,.6) 10%, rgba($green,.6) 20%,
				                                     transparent 20%, transparent 30%,
				                                     rgba($green,.6) 30%, rgba($green,.6) 70%,
				                                     transparent 70%, transparent 80%,
				                                     rgba($green,.6) 80%, rgba($green,.6) 90%,
				                                     transparent 90%, transparent 100%),
			                  linear-gradient(0deg,  transparent 0%, transparent 10%,
				                                     rgba($green,.6) 10%, rgba($green,.6) 20%,
				                                     transparent 20%, transparent 30%,
				                                     rgba($green,.6) 30%, rgba($green,.6) 70%,
				                                     transparent 70%, transparent 80%,
				                                     rgba($green,.6) 80%, rgba($green,.6) 90%,
				                                     transparent 90%, transparent 100%);
		}
		#contact {
			background-image: radial-gradient( white 15%, transparent 16% ),
				              radial-gradient( white 15%, transparent 16% ),
				              linear-gradient( $green 0, $green );
		}
	}
}
body#blue {
	.parallax .blue {
		visibility: visible;
		opacity: 1;
		z-index: 0;
	}
	.subnav {
		background: $blue;
		.subnav__button {
			background: $blue;
		}
	}
	.section {
		.section__title {
			h1 { color: $blue}
			hr { background: $blue}
		}
	}
	.home:hover {
		svg polyline {
			stroke: $blue;
		}
	}
	.close:hover {
		&:before, &:after {
			background: $blue;
		}
	}
	.clothe {
		#who {
			background-image: linear-gradient($blue 70%, transparent 30%);
		}
		#skills {
			background-image: linear-gradient(90deg, transparent 0%, transparent 10%,
				                                     rgba($blue,.6) 10%, rgba($blue,.6) 20%,
				                                     transparent 20%, transparent 30%,
				                                     rgba($blue,.6) 30%, rgba($blue,.6) 70%,
				                                     transparent 70%, transparent 80%,
				                                     rgba($blue,.6) 80%, rgba($blue,.6) 90%,
				                                     transparent 90%, transparent 100%),
			                  linear-gradient(0deg,  transparent 0%, transparent 10%,
				                                     rgba($blue,.6) 10%, rgba($blue,.6) 20%,
				                                     transparent 20%, transparent 30%,
				                                     rgba($blue,.6) 30%, rgba($blue,.6) 70%,
				                                     transparent 70%, transparent 80%,
				                                     rgba($blue,.6) 80%, rgba($blue,.6) 90%,
				                                     transparent 90%, transparent 100%);
		}
		#contact {
			background-image: radial-gradient( white 15%, transparent 16% ),
				              radial-gradient( white 15%, transparent 16% ),
				              linear-gradient( $blue 0, $blue );
		}
	}
}
body#orange {
	.parallax .orange {
		visibility: visible;
		opacity: 1;
		z-index: 0;
	}
	.subnav {
		background: $orange;
		.subnav__button {
			background: $orange;
		}
	}
	.section {
		.section__title {
			h1 { color: $orange}
			hr { background: $orange}
		}
	}
	.home:hover {
		svg polyline {
			stroke: $orange;
		}
	} 
	.close:hover {
		&:before, &:after {
			background: $orange;
		}
	}
	.clothe {
		#who {
			background-image: linear-gradient($orange 70%, transparent 30%);
		}
		#skills {
			background-image: linear-gradient(90deg, transparent 0%, transparent 10%,
				                                     rgba($orange,.6) 10%, rgba($orange,.6) 20%,
				                                     transparent 20%, transparent 30%,
				                                     rgba($orange,.6) 30%, rgba($orange,.6) 70%,
				                                     transparent 70%, transparent 80%,
				                                     rgba($orange,.6) 80%, rgba($orange,.6) 90%,
				                                     transparent 90%, transparent 100%),
			                  linear-gradient(0deg,  transparent 0%, transparent 10%,
				                                     rgba($orange,.6) 10%, rgba($orange,.6) 20%,
				                                     transparent 20%, transparent 30%,
				                                     rgba($orange,.6) 30%, rgba($orange,.6) 70%,
				                                     transparent 70%, transparent 80%,
				                                     rgba($orange,.6) 80%, rgba($orange,.6) 90%,
				                                     transparent 90%, transparent 100%);
		}
		#contact {
			background-image: radial-gradient( white 15%, transparent 16% ),
				              radial-gradient( white 15%, transparent 16% ),
				              linear-gradient( $orange 0, $orange );
		}
	}
}