/* line 17, ../../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Desktop/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 14, ../sass/style.scss */
body {
  font-family: 'Baloo Tamma', cursive;
  font-weight: 400;
}

/* line 18, ../sass/style.scss */
a {
  color: inherit;
  text-decoration: none;
}
/* line 21, ../sass/style.scss */
a:hover, a:focus {
  outline: none;
}

/* line 25, ../sass/style.scss */
button {
  background: transparent;
  border: 0;
  font-family: 'Baloo Tamma', cursive;
  font-weight: 400;
  cursor: pointer;
}
/* line 31, ../sass/style.scss */
button:focus {
  outline: none;
}

@keyframes lazyloadAni {
  /* line 3, ../sass/_module.scss */
  50% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 50%;
  }

  /* line 7, ../sass/_module.scss */
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

/* line 11, ../sass/_module.scss */
img.lazyload {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 15, ../sass/_module.scss */
img.lazyload + i.img-mask {
  background: #DDD;
}
/* line 17, ../sass/_module.scss */
img.lazyload + i.img-mask:before, img.lazyload + i.img-mask:after {
  content: "";
  position: absolute;
}
/* line 21, ../sass/_module.scss */
img.lazyload + i.img-mask:before {
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background: #999;
  animation: lazyloadAni 1s infinite;
}
/* line 29, ../sass/_module.scss */
img.lazyload + i.img-mask:after {
  content: "loading";
  top: 55%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #999;
}

/* line 39, ../sass/_module.scss */
img.lazyloaded {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 45, ../sass/_module.scss */
.row {
  margin-right: -24px;
  margin-left: -24px;
}
/* line 48, ../sass/_module.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 52, ../sass/_module.scss */
.row:after {
  clear: both;
}
/* line 55, ../sass/_module.scss */
.row > div {
  float: left;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 61, ../sass/_module.scss */
.row.row--full > div {
  width: 100%;
}
/* line 62, ../sass/_module.scss */
.row.row--slack > div {
  width: 33.33%;
}
/* line 63, ../sass/_module.scss */
.row.row--tight > div {
  width: 20%;
}

@media (max-width: 1600px) {
  /* line 67, ../sass/_module.scss */
  .row.row--tight > div {
    width: 25%;
  }
}
@media (max-width: 1280px) {
  /* line 72, ../sass/_module.scss */
  .row.row--tight > div {
    width: 33.33%;
  }
}
@keyframes ballJump {
  /* line 78, ../sass/_module.scss */
  0% {
    -webkit-transform: scale(1, 0.75);
    -moz-transform: scale(1, 0.75);
    -ms-transform: scale(1, 0.75);
    -o-transform: scale(1, 0.75);
    transform: scale(1, 0.75);
  }

  /* line 79, ../sass/_module.scss */
  15% {
    -webkit-transform: scale(0.75, 1.1);
    -moz-transform: scale(0.75, 1.1);
    -ms-transform: scale(0.75, 1.1);
    -o-transform: scale(0.75, 1.1);
    transform: scale(0.75, 1.1);
  }

  /* line 80, ../sass/_module.scss */
  30% {
    bottom: 12px;
  }

  /* line 81, ../sass/_module.scss */
  50% {
    bottom: 15px;
  }

  /* line 82, ../sass/_module.scss */
  70% {
    bottom: 12px;
  }

  /* line 83, ../sass/_module.scss */
  90% {
    bottom: 0;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 84, ../sass/_module.scss */
  100% {
    -webkit-transform: scale(1, 0.6);
    -moz-transform: scale(1, 0.6);
    -ms-transform: scale(1, 0.6);
    -o-transform: scale(1, 0.6);
    transform: scale(1, 0.6);
  }
}

/* line 86, ../sass/_module.scss */
.ball {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 36px;
}
/* line 92, ../sass/_module.scss */
.ball span {
  display: block;
  position: absolute;
  bottom: 0;
  border: 2px solid;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
/* line 100, ../sass/_module.scss */
.ball span:before {
  content: "i";
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 109, ../sass/_module.scss */
.ball.active span, .ball:hover span {
  animation: ballJump 1s linear infinite;
}

/* line 116, ../sass/_module.scss */
::-webkit-scrollbar {
  position: relative;
  width: 4px;
}

/* line 120, ../sass/_module.scss */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* line 123, ../sass/_module.scss */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

/* line 128, ../sass/_module.scss */
.bubble {
  position: relative;
  text-align: center;
}
/* line 133, ../sass/_module.scss */
.bubble:after {
  margin-top: -2px;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #FFF;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
}
/* line 146, ../sass/_module.scss */
.bubble p {
  padding: 12px;
  display: inline-block;
  position: relative;
  text-align: left;
  -webkit-transition: color 0.3s ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: color 0.3s ease 0.3s;
  -o-transition: color 0.3s ease 0.3s;
  transition: color 0.3s ease 0.3s;
}
/* line 154, ../sass/_module.scss */
.bubble p:after {
  background: #FFF;
  border-radius: 12px;
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 168, ../sass/_module.scss */
.bubble.hide {
  visibility: hidden;
  position: absolute;
}
/* line 171, ../sass/_module.scss */
.bubble.hide:after {
  visibility: hidden;
  border-top: 0px solid #FFF;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0.15s;
  -moz-transition: all 0.3s ease 0.15s;
  -o-transition: all 0.3s ease 0.15s;
  transition: all 0.3s ease 0.15s;
}
/* line 176, ../sass/_module.scss */
.bubble.hide p {
  visibility: hidden;
  color: transparent;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 180, ../sass/_module.scss */
.bubble.hide p:after {
  visibility: hidden;
  width: 4px;
  height: 4px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0.15s;
  -moz-transition: all 0.3s ease 0.15s;
  -o-transition: all 0.3s ease 0.15s;
  transition: all 0.3s ease 0.15s;
}

/* line 191, ../sass/_module.scss */
.progress {
  position: relative;
  margin: 0 auto;
  border: 1px solid #FFF;
  width: 200px;
  height: 8px;
  overflow: hidden;
}
/* line 198, ../sass/_module.scss */
.progress .progress-inset {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #FFF;
}

/* line 207, ../sass/_module.scss */
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 219, ../sass/_module.scss */
.modal .modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* line 227, ../sass/_module.scss */
.modal .modal__close:hover:before, .modal .modal__close:hover:after {
  background: #98bf79;
}
/* line 231, ../sass/_module.scss */
.modal .modal__close:before, .modal .modal__close:after {
  position: absolute;
  top: 24px;
  left: 0;
  content: "";
  border-radius: 6px;
  width: 48px;
  height: 6px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 242, ../sass/_module.scss */
.modal .modal__close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 246, ../sass/_module.scss */
.modal .modal__content {
  visibility: hidden;
  position: relative;
  margin: 5% auto;
  border-radius: 12px;
  max-width: 750px;
  overflow: hidden;
  -webkit-transform: scale(0.1, 0.1);
  -moz-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -o-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  -webkit-transition: all 0.3s cubic-bezier(0.46, -0.2, 0.61, 1.28);
  -moz-transition: all 0.3s cubic-bezier(0.46, -0.2, 0.61, 1.28);
  -o-transition: all 0.3s cubic-bezier(0.46, -0.2, 0.61, 1.28);
  transition: all 0.3s cubic-bezier(0.46, -0.2, 0.61, 1.28);
}
/* line 255, ../sass/_module.scss */
.modal .modal__content p {
  font-family: Microsoft JhengHei, arial, helvetica, san-serif;
  line-height: 2em;
  font-size: 14px;
  color: #FFF;
}
/* line 264, ../sass/_module.scss */
.modal .modal__content .modal__content--body {
  padding: 36px;
  background: #FFF;
}
/* line 271, ../sass/_module.scss */
.modal .modal__content.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 277, ../sass/_module.scss */
.modal.active {
  visibility: visible;
  opacity: 1;
}

/* line 285, ../sass/_module.scss */
.tab:before, .tab:after {
  content: "";
  display: table;
}
/* line 289, ../sass/_module.scss */
.tab:after {
  clear: both;
}
/* line 292, ../sass/_module.scss */
.tab .tab__button {
  float: left;
  width: 50%;
  border-radius: 12px 12px 0px 0px;
  padding: 12px 12px 6px;
  font-size: 24px;
  color: #FFF;
  background: #b3cf9c;
}
/* line 300, ../sass/_module.scss */
.tab .tab__button.active {
  background: #98bf79;
}

/* line 305, ../sass/_module.scss */
.tab-content {
  display: none;
}
/* line 307, ../sass/_module.scss */
.tab-content.active {
  display: block;
}

/* line 312, ../sass/_module.scss */
#aboutMe .tab-content {
  background: #98bf79;
}

/* line 317, ../sass/_module.scss */
.pictureView {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 337, ../sass/_module.scss */
.pictureView .pictureView__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* line 345, ../sass/_module.scss */
.pictureView .pictureView__close:hover:before, .pictureView .pictureView__close:hover:after {
  background: #98bf79;
}
/* line 349, ../sass/_module.scss */
.pictureView .pictureView__close:before, .pictureView .pictureView__close:after {
  position: absolute;
  top: 24px;
  left: 0;
  content: "";
  border-radius: 6px;
  width: 48px;
  height: 6px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 360, ../sass/_module.scss */
.pictureView .pictureView__close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 364, ../sass/_module.scss */
.pictureView .pictureView__img {
  position: relative;
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.2);
}
/* line 375, ../sass/_module.scss */
.pictureView .pictureView__control .prev, .pictureView .pictureView__control .next {
  opacity: .5;
  position: absolute;
  top: 45%;
  width: 60px;
  height: 60px;
  background-image: url("../svg/arrow.svg");
  background-size: cover;
}
/* line 383, ../sass/_module.scss */
.pictureView .pictureView__control .prev:hover, .pictureView .pictureView__control .next:hover {
  opacity: 1;
}
/* line 387, ../sass/_module.scss */
.pictureView .pictureView__control .prev {
  left: 36px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 391, ../sass/_module.scss */
.pictureView .pictureView__control .next {
  right: 36px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 396, ../sass/_module.scss */
.pictureView.active {
  visibility: visible;
  opacity: 1;
}

/* line 403, ../sass/_module.scss */
.section {
  padding: 60px;
}
/* line 405, ../sass/_module.scss */
.section .section__title {
  text-align: center;
}
/* line 407, ../sass/_module.scss */
.section .section__title h1 {
  font-size: 60px;
  color: #98bf79;
}
/* line 411, ../sass/_module.scss */
.section .section__title hr {
  border: 0;
  width: 120px;
  height: 5px;
  background: #98bf79;
}
/* line 419, ../sass/_module.scss */
.section .section__description p {
  margin: 0 auto;
  width: 500px;
  color: #595959;
  line-height: 1.5em;
  font-size: 14px;
  font-family: Microsoft JhengHei, arial, helvetica, san-serif;
}
/* line 428, ../sass/_module.scss */
.section .section__content {
  margin-top: 24px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 473, ../sass/_module.scss */
.item {
  position: relative;
  text-align: center;
  margin-bottom: 48px;
}
/* line 477, ../sass/_module.scss */
.item .item__img {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  z-index: 1;
}
/* line 484, ../sass/_module.scss */
.item .item__img img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 200%;
  max-height: 200%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 492, ../sass/_module.scss */
.item .item__img i.img-mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-image: url("../svg/img-cover.svg") 12 round;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 508, ../sass/_module.scss */
.item .item__info {
  position: absolute;
  bottom: 4px;
  right: 50%;
  margin-right: -13px;
}
/* line 513, ../sass/_module.scss */
.item .item__info .bubble {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 200px;
  margin-left: -100px;
  margin-bottom: 24px;
  color: #595959;
  font-size: 16px;
  z-index: 2;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
  -moz-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
}
/* line 523, ../sass/_module.scss */
.item .item__info .bubble span {
  font-size: 12px;
}
/* line 526, ../sass/_module.scss */
.item .item__info .bubble a {
  font-size: 12px;
}
/* line 530, ../sass/_module.scss */
.item .item__info .ball {
  width: 26px;
  height: 26px;
  z-index: 2;
}
/* line 534, ../sass/_module.scss */
.item .item__info .ball span {
  border-color: #cccccc;
  color: #cccccc;
}
/* line 538, ../sass/_module.scss */
.item .item__info .ball.active span, .item .item__info .ball:hover span {
  border-color: #e6e6e6;
  color: #e6e6e6;
}

@keyframes svgTrim {
  /* line 3, ../sass/_svg.scss */
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes svgTrimP8 {
  /* line 8, ../sass/_svg.scss */
  to {
    stroke-dasharray: 20 10;
    stroke-dashoffset: -6;
  }
}

/* line 15, ../sass/_svg.scss */
.myname {
  display: block;
}
/* line 17, ../sass/_svg.scss */
.myname svg {
  width: 500px;
  height: 170px;
}
/* line 20, ../sass/_svg.scss */
.myname svg path {
  clip-path: url(#glenn);
  fill: none;
  stroke: #FFF;
  stroke-width: 26px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
/* line 27, ../sass/_svg.scss */
.myname svg path#g {
  stroke-dasharray: 470;
  stroke-dashoffset: 470;
  animation: svgTrim 1s ease .5s forwards;
}
/* line 32, ../sass/_svg.scss */
.myname svg path#l {
  stroke-dasharray: 190;
  stroke-dashoffset: 190;
  animation: svgTrim .4s ease 1.5s forwards;
}
/* line 37, ../sass/_svg.scss */
.myname svg path#e {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  animation: svgTrim .6s ease 1.9s forwards;
}
/* line 42, ../sass/_svg.scss */
.myname svg path#n1 {
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
  animation: svgTrim .6s ease 2.5s forwards;
}
/* line 47, ../sass/_svg.scss */
.myname svg path#n2 {
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
  animation: svgTrim .6s ease 3.1s forwards;
}

/* line 58, ../sass/_svg.scss */
.nav__btn svg {
  width: 110px;
  height: 110px;
}
/* line 61, ../sass/_svg.scss */
.nav__btn svg path {
  fill: none;
  stroke: #FFF;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
/* line 67, ../sass/_svg.scss */
.nav__btn svg path#p1 {
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
}
/* line 71, ../sass/_svg.scss */
.nav__btn svg path#p2 {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}
/* line 75, ../sass/_svg.scss */
.nav__btn svg path#p3 {
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
}
/* line 79, ../sass/_svg.scss */
.nav__btn svg path#p4 {
  stroke-dasharray: 390;
  stroke-dashoffset: 390;
}
/* line 83, ../sass/_svg.scss */
.nav__btn svg path#p5 {
  stroke-dasharray: 310;
  stroke-dashoffset: 310;
}
/* line 87, ../sass/_svg.scss */
.nav__btn svg path#p6 {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
}
/* line 91, ../sass/_svg.scss */
.nav__btn svg path#p7 {
  stroke-dasharray: 365;
  stroke-dashoffset: 365;
}
/* line 95, ../sass/_svg.scss */
.nav__btn svg path#p8 {
  stroke-dasharray: 92;
  stroke-dashoffset: 92;
}

/* line 1, ../sass/_heading.scss */
.heading {
  z-index: 1;
}
/* line 3, ../sass/_heading.scss */
.heading .heading__myname {
  margin-bottom: 24px;
}
/* line 5, ../sass/_heading.scss */
.heading .heading__myname .heading__myname__ball {
  top: -8px;
  left: 12px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 10, ../sass/_heading.scss */
.heading .heading__myname .heading__myname__ball span {
  border-color: #FFF;
  color: #FFF;
}
/* line 16, ../sass/_heading.scss */
.heading .heading__welcome {
  visibility: hidden;
  opacity: 0;
  position: relative;
  top: 12px;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 26, ../sass/_heading.scss */
.heading .heading__nav {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 31, ../sass/_heading.scss */
.heading .heading__progress {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 34, ../sass/_heading.scss */
.heading .heading__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #DDD;
  z-index: -1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 48, ../sass/_heading.scss */
body.load-done .heading.finish .heading__myname .heading__myname__ball {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 52, ../sass/_heading.scss */
body.load-done .heading.finish .heading__welcome {
  visibility: visible;
  opacity: 1;
  top: 0;
}
/* line 57, ../sass/_heading.scss */
body.load-done .heading.finish .heading__nav {
  height: 200px;
}
/* line 60, ../sass/_heading.scss */
body.load-done .heading.finish .heading__bg {
  visibility: hidden;
  opacity: 0;
}
/* line 67, ../sass/_heading.scss */
body.load-done .heading.finish .heading__nav svg path {
  animation: svgTrim 2s ease 1s forwards;
}
/* line 69, ../sass/_heading.scss */
body.load-done .heading.finish .heading__nav svg path#p8 {
  animation: svgTrimP8 2s ease 1s forwards;
}
/* line 74, ../sass/_heading.scss */
body.load-done .heading.finish .heading__progress {
  visibility: hidden;
  opacity: 0;
}

/* line 46, ../sass/style.scss */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@keyframes woof1 {
  /* line 2, ../sass/_parallax.scss */
  0% {
    visibility: visible;
    left: 40%;
    top: 100%;
  }

  /* line 7, ../sass/_parallax.scss */
  33% {
    left: 5%;
    top: -25%;
  }

  /* line 11, ../sass/_parallax.scss */
  100% {
    visibility: hidden;
  }
}

@keyframes woof2 {
  /* line 16, ../sass/_parallax.scss */
  0% {
    visibility: hidden;
    left: -15%;
    top: 40%;
  }

  /* line 21, ../sass/_parallax.scss */
  33% {
    visibility: visible;
    left: -15%;
    top: 40%;
  }

  /* line 26, ../sass/_parallax.scss */
  66% {
    left: 110%;
    top: 0%;
  }

  /* line 30, ../sass/_parallax.scss */
  100% {
    visibility: hidden;
  }
}

/* line 37, ../sass/_parallax.scss */
.parallax .parallax__item {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/* line 44, ../sass/_parallax.scss */
.parallax .parallax__item .parallax--base {
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
}
/* line 51, ../sass/_parallax.scss */
.parallax .parallax__item.green .green--l1 {
  background-image: url("../img/parallax/1-bg.jpg");
}
/* line 58, ../sass/_parallax.scss */
.parallax .parallax__item.green .green__item {
  display: block;
  position: absolute;
  height: auto;
}
/* line 62, ../sass/_parallax.scss */
.parallax .parallax__item.green .green__item img {
  width: 100%;
  height: auto;
}
/* line 66, ../sass/_parallax.scss */
.parallax .parallax__item.green .green__item.woof1 {
  visibility: hidden;
  animation: woof1 60s linear infinite;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
/* line 71, ../sass/_parallax.scss */
.parallax .parallax__item.green .green__item.woof2 {
  visibility: hidden;
  animation: woof2 60s linear infinite;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  transform: rotate(70deg);
}
/* line 79, ../sass/_parallax.scss */
.parallax .parallax--layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 62, ../sass/style.scss */
.main {
  position: absolute;
  top: 100%;
  right: 100%;
  width: 100%;
  height: 100%;
  background: url("../img/common/bg.jpg");
  overflow: hidden;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 75, ../sass/style.scss */
.main.open {
  top: 0;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 80, ../sass/style.scss */
.main .main__back {
  position: absolute;
  right: 12px;
  top: 12px;
}
/* line 84, ../sass/style.scss */
.main .main__back svg {
  width: 60px;
  height: 60px;
}
/* line 87, ../sass/style.scss */
.main .main__back svg polyline {
  fill: none;
  stroke: #666666;
  stroke-width: 9px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
/* line 96, ../sass/style.scss */
.main .main__back:hover polyline {
  stroke: #d9753e;
}
/* line 107, ../sass/style.scss */
.main .main__section {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: -1;
}
/* line 114, ../sass/style.scss */
.main .main__section.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* line 2, ../sass/_partial.scss */
.nav {
  text-align: center;
}
/* line 4, ../sass/_partial.scss */
.nav .nav__btn {
  background: transparent;
  margin: 0 12px;
  border: 0;
  cursor: pointer;
}
/* line 9, ../sass/_partial.scss */
.nav .nav__btn p {
  margin-top: -12px;
  color: #FFF;
  font-size: 24px;
}

@keyframes subnavButton {
  /* line 21, ../sass/_partial.scss */
  50% {
    display: inline-block;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }

  /* line 25, ../sass/_partial.scss */
  100% {
    display: inline-block;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes subnavBg {
  /* line 31, ../sass/_partial.scss */
  50% {
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }

  /* line 37, ../sass/_partial.scss */
  100% {
    top: 0;
    left: 0;
    border-radius: 50px;
    width: 380px;
    height: 100px;
  }
}

/* line 45, ../sass/_partial.scss */
.subnav {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 50, ../sass/_partial.scss */
.subnav button {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: right bottom 50%;
  -moz-transform-origin: right bottom 50%;
  -ms-transform-origin: right bottom 50%;
  -o-transform-origin: right bottom 50%;
  transform-origin: right bottom 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 60, ../sass/_partial.scss */
.subnav button .icon {
  margin: auto;
  margin-top: -24px;
  margin-bottom: -12px;
  width: 80px;
  height: 80px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 68, ../sass/_partial.scss */
.subnav button span {
  color: #FFF;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all 0.3s ease 0.3s;
  -o-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}
/* line 73, ../sass/_partial.scss */
.subnav button.subnav-close {
  opacity: 0;
  z-index: 3;
}
/* line 76, ../sass/_partial.scss */
.subnav button.subnav-close .icon {
  background-image: url("../svg/cross.svg");
}
/* line 79, ../sass/_partial.scss */
.subnav button.subnav-illus .icon {
  background-image: url("../svg/illustration.svg");
}
/* line 82, ../sass/_partial.scss */
.subnav button.subnav-photos .icon {
  background-image: url("../svg/photos.svg");
}
/* line 85, ../sass/_partial.scss */
.subnav button.subnav-portfolio .icon {
  background-image: url("../svg/portfolio.svg");
}
/* line 88, ../sass/_partial.scss */
.subnav button.subnav-web .icon {
  background-image: url("../svg/web.svg");
}
/* line 90, ../sass/_partial.scss */
.subnav button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: #98bf79;
  z-index: -1;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 101, ../sass/_partial.scss */
.subnav button.active {
  z-index: 2;
}
/* line 105, ../sass/_partial.scss */
.subnav.active {
  top: 12px;
  left: 12px;
}
/* line 108, ../sass/_partial.scss */
.subnav.active button {
  padding-top: 48px;
  width: 75px;
  height: 75px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease, left 0.3s ease;
  -webkit-transition-delay: 0s, 0.3s;
  -moz-transition: all 0.3s ease, left 0.3s ease 0.3s;
  -o-transition: all 0.3s ease, left 0.3s ease 0.3s;
  transition: all 0.3s ease, left 0.3s ease 0.3s;
}
/* line 115, ../sass/_partial.scss */
.subnav.active button .icon {
  margin-top: -36px;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 121, ../sass/_partial.scss */
.subnav.active button span {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}
/* line 126, ../sass/_partial.scss */
.subnav.active button.subnav-close {
  opacity: 1;
}
/* line 129, ../sass/_partial.scss */
.subnav.active button:hover:before {
  background: #d9753e;
}
/* line 132, ../sass/_partial.scss */
.subnav.active button:before {
  width: 100%;
  height: 100%;
}
/* line 136, ../sass/_partial.scss */
.subnav.active button:first-child {
  left: 0;
}
/* line 137, ../sass/_partial.scss */
.subnav.active button:nth-child(2) {
  left: 90px;
}
/* line 138, ../sass/_partial.scss */
.subnav.active button:nth-child(3) {
  left: 180px;
}
/* line 139, ../sass/_partial.scss */
.subnav.active button:nth-child(4) {
  left: 270px;
}
/* line 140, ../sass/_partial.scss */
.subnav.active button:nth-child(5) {
  left: 360px;
}
